{% extends 'boat/base.html' %}

{% block content %}
<div class="card mb-4 text-center">
    <div class="card-header">Создание заявки на лодку</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-100 btn btn-success">Оставить заявку</button>
        </form>
    </div>
    <div class="card-footer">
        <a href="{% url 'boat:boat_list' %}" class="btn btn-secondary">Назад</a>
    </div>
</div>
{% endblock %}
