{% extends 'boat/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="col-12 mb-5">
        {% if user.is_authenticated %}
        <p>
            <a class="btn btn-primary" href="{% url 'boat:create_boat' %}">Добавить обьявление</a>
        </p>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2">
        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.name }}</h4>
                </div>
                <img src="{{ object.image | media_filter }}">
                <div class="card-body">
                    <h5 class="my-0 fw-normal">{{ object.year }}</h5>
                    <h5 class="my-0 fw-normal">версия: {{ object.version }}</h5>
                    {% if object.price %}
                    <h4 class="card-title pricing-card-title">{{ object.price }}</h4>
                    {% else %}
                    <h3 class="card-title pricing-card-title">
                        <small class="text-muted">
                            не указана
                        </small>
                    </h3>
                    {% endif %}
                    <div class="btn btn-group">
                        <a href="{% url 'boat:view_boat' object.pk %}" type="button"
                           class="btn btn-primary"><h6>Смотреть</h6></a>


                        <a href="{% url 'boat:update_boat' object.pk %}" type="button"
                           class="btn btn-warning"><h6>Редактировать</h6></a>

                        <a href="{% url 'boat:delete_boat' object.pk %}" type="button"
                           class="btn btn-danger"><h6>Удалить</h6></a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}